.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#map {
    padding-top: 50px;
    margin-top: 20px;
    position: sticky;
}

.main-container {
    display: flex;
}
