.mapboxgl-popup {
    max-width: 200px;
}
#map > div.mapboxgl-popup.mapboxgl-popup-anchor-bottom > div.mapboxgl-popup-content {
    padding: 0px;
    padding-top: 1px;
}

#map > div.mapboxgl-popup.mapboxgl-popup-anchor-bottom > div.mapboxgl-popup-content > div {
    width:99%;

}

.mapboxgl-popup-close-button {
    display: none;
}
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#map {
    padding-top: 50px;
    margin-top: 20px;
    position: sticky;
}
#carouselExampleControls {
    padding-left: 50px;
}

#carouselExampleControls > div > a.carousel-control-prev {
    padding-right: 80px;
}

#carouselExampleControls > div > a.carousel-control-prev > span.carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
}

#carouselExampleControls > div > a.carousel-control-next > span.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

#carouselExampleControls > div > a.carousel-control-next {
    padding-left: 90px;
}

#carouselExampleControls > div {
    width: 110vh;
}
.cards-grid {
    height:90vh;
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin: 50px 50px 50px 50px;
}