// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #3a4052;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}


.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: '';
  z-index: 1;
  height: 106%;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.content {
  z-index: 2;
    .fa-paw {
      color:#FAF3DE;
      font-size: 40px;
      background-color: #68B0AB;
      padding: 15px;
      border-radius: 50%;
      margin-top: 10px;
    }
}

.content i.fas.fa-paw:hover {
  color: #8EC2A9;
}

    h5 {
      color:#8EC2A9;
    }

