.img-show-review {
  margin-left: 430px;
  margin-top: 30px;
  border-radius: 50%;
}

.all-reviews {
  width: 1200px;
  margin: 0 auto;
  background-color: #FAF3DE;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}
