<div class="container">
  <div class="row justify-content-center">  <%# centrer et reduit le formulaire %>
    <div class= "col-12 col-lg-8">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>
<div>  