.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #68B0AB;
  transition: background 0.3s ease;
  margin-right: 10px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: #FAF3DE;
}
