.navbar-lewagon {
  justify-content: space-between;
  background: #8FC0A9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-paw {
  color: #FAF3DE;
  font-size: 30px;
}
.fa-paw:hover {
  color: #68B0AB;
  font-size: 30px;
}
